<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}{% endblock %}
    {% block jshead %}{% endblock %}
    <meta charset="utf-8">
</head>
<body>
{% block header %}<hr/>{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <hr/>
    <p>Assignment by Béthoux Antonin (b00093222), WIP.</p>
{% endblock %}
{% block jsbody %}{% endblock %}

</body>
</html>
