{% extends 'base.html.twig' %}
{% import '_recipe.html.twig' as recipe %}

{% block body %}
{% for r in recipes %}
    <div class="recipe">
        <h4>{{ r.getTitle() }} ({{ r.getId() }})</h4>
        <h5>{{ r.getSummary() }}</h5>
        <p>by {{ r.getAuthor() }}</p>
    </div>
{% endfor %}
{% endblock %}